extends headers 
    
block headers 
    script(type="text/javascript" src="/javascripts/main.js")
    script(type="text/javascript" src="/javascripts/dashboard.js")

block body    
    body
        block content 
            include navigation
            include menu
            #crDisplay
            