extends headers 
script(type="text/javascript" src="/javascripts/main.js")
script(type="text/javascript" src="/javascripts/dashboard.js")
body
    block content 
        include navigation
        include menu
        #crDisplay