h1#mainTitle AkoloCare

#mainCTA
    button#mainLogin(onclick="window.location='/login'") Log In with 
        img#google(src="/images/google_g.svg")
        |  Google

h2#tagline Helping you to keep caring