#navbar
    #navTitle AkoloCare
    #navButtons
        a#navLogin.navButton(href="/login") Log In 
        a#navSignup.navButton(href="/signup") Sign Up
        a#navAbout.navButton(href="/about") About